<div class="container">
    <div id="hidden" style="display: none">
        <input type="text" id="id" value="{{user.id}}" style="display: none">
        <input id="token" type="text" value="{{user.accessToken}}" style="display: none">
    </div>
    <div class="carousel">
        {{#each auxTracks}}

            <a class="carousel-item" href="#"><img src="{{this.track.album.images.[0].url}}"></a>

        {{/each}}


    </div>
    {{!-- <div id="musicnow-container">
        <button id="musicnow" class="btn waves-effect waves-light" type="submit" name="action">Music Now!
        <i class="material-icons right"></i>
    </button> --}}
    </div>
    <ul class="collection ">
        {{#each auxTracks}}
        <li class="collection-item dark">
            <div class="control-ement">
                <span>{{ this.track.name }} by {{ this.track.artists.[0].name }}</span>
                <audio src="{{ this.track.preview_url }}" controls></audio>
                {{!-- <span class="track" hidden>{{ this.uri }}</span> --}}
            </div>
        </li>
        {{/each}}

    </ul>
</div>

<script src="/javascripts/miguelspotify.js"></script>
<script src="/javascripts/list.js"></script>

{{!-- <script src="/javascripts/carlosspotify.js"></script> --}}